<%- include("partials/header") %>
                <h2>All Users Only viewed by Admins</h2>
                <h5>list of all sign-up users</h5>
            </div>
                <div class="main-item">
                
                    <%  newItemList.forEach((user)=>{ %> 
                <div class="user-items">
                    <form class="form-control" action="/api/user/<%= user.id %> " method ="post">
                 <li><%= user.name %> </li> 
              <button type="submit" class="btn btn-danger">delete</button>
                </form
                <button class="btn btn-primary"><details></details></button>
            </div>
                <% }) %>
            
                <%- include("partials/footer") %>