<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sign-up.css">
    <title>SignUp</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="header">
                <h2>Sign Up</h2>
            </div>
            <div class="main-item">
               
                <form action="/" method="post">
                    <input type="text" placeholder="Name" name="name">
                    <input type="Email" placeholder="Email" name="name">
                    <input type="password" placeholder="password" name="password">
                    <button type="submit">register</button>
                </form>
           
                
            </div>
        </div>
    </div>
</body>
</html>