.container{
    background-color: rgb(187, 168, 168);
    margin: 50px auto;
    height: 100%;
    width:40%;
    max-width: 50%;
    border-radius: 10px;
   
}
.main{
    align-items: center;
    display: inline-block;
}
form input{
    padding: 3px;
    align-items: center;
    margin: auto;
    padding: auto;
}
.header{
  margin-left: 20px;
}